{{>navigation}}
{{>message}}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-dark border-secondary text-white">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>
            Agregar Personal
          </span>
          <a href="/personal/list" class="btn btn-primary btn-sm"> ➜ Regresar a lista personal</a>
        </div>
        <div class="card-body">
          <form action="/personal/add" method="POST">
            <div class="form-group row">
              <label class="col-md-3 col-form-label col-form-label-sm text-md-right">Nombre </label>
              <div class="col-md-6">
                <input
                  type="text"
                  name="nombre"
                  class="form-control form-control-sm"
                  pattern="[^\s]*$"
                  title="Espacios vacios"
                  required
                  autofocus
                >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label col-form-label-sm text-md-right">Apellidos </label>
              <div class="col-md-6">
                <input
                  type="text"
                  name="apellidos"
                  class="form-control form-control-sm"
                  required
                >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label col-form-label-sm text-md-right">Direccion </label>
              <div class="col-md-6">
                <input
                  type="text"
                  name="direccion"
                  class="form-control form-control-sm"
                  required
                >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label col-form-label-sm text-md-right">Telefono </label>
              <div class="col-md-6">
                <input
                  type="number"
                  name="telefono"
                  class="form-control form-control-sm"
                  required
                >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label col-form-label-sm text-md-right">Estado</label>
              <div class="col-md-6">
                <select class="form-control form-control-sm" name="state">
                  <option selected>Selecionar estado...</option>
                  <option value="1">Activo</option>
                  <option value="0">Inactivo</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-0">
              <div class="col-md-8 offset-md-3">
                <button type="submit" class="btn btn-primary btn-sm">Agregar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>