{{>navigation}}
{{>message}}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-dark border-secondary text-white">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>
            Listado Personal Empleados
          </span>
          <a href="/personal/add" class="btn btn-primary btn-sm"> ✚ Nuevo Personal</a>
        </div>
        <div class="card-body">
          <table class="table table-sm text-white">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Estado</th>
                  <th class="text-center" scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                {{#each empleados}}
                  <tr>
                    <th scope="row">{{ id }}</th>
                    <td>{{ nombre }}</td>
                    <td>{{ apellidos }}</td>
                    <td>{{ telefono }}</td>
                    {{#if state}}
                    <td><span class="badge badge-success">✓ Activo</span></td>
                    {{else}}
                    <td><span class="badge badge-secondary">● Inactivo</span></td>
                    {{/if}}
                    <td class="text-center">
                      <a href="/personal/view/{{id}}" class="btn btn-info btn-sm"> ☛ Ver </a>
                      <a href="/personal/edit/{{id}}" class="btn btn-warning btn-sm"> ✎ Editar </a>
                      <a href="/personal/delete/{{id}}" class="btn btn-danger btn-sm"> ✗ Eliminar </a>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>