{{>navigation}}
{{>message}}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-dark border-secondary text-white">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>
            Tarjeta de Personal
          </span>
          <a href="/personal/list" class="btn btn-primary btn-sm"> ➜ Regresar</a>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">
            {{empleado.nombre}}
          </h4>
          <h5 class="card-title">
            {{empleado.apellidos}}
          </h5>
          <h6 class="card-subtitle mb-2 mt-2">
            {{empleado.telefono}}
          </h6>
          <p class="card-text">
            {{empleado.direccion}}
          </p>
          {{#if empleado.state}}
            <p class="card-title">
              <span class="badge badge-success">✓ Activo</span>
            </p>
          {{else}}
            <p class="card-title">
              <span class="badge badge-secondary">● Inactivo</span>
            </p>
          {{/if}}
          <a href="/personal/edit/{{empleado.id}}" class="btn btn-warning btn-sm"> ✎ Editar </a>
          <a href="/personal/delete/{{empleado.id}}" class="btn btn-danger btn-sm"> ✗ Eliminar </a>
        </div>
      </div>
    </div>
  </div>
</div>