{{>navigation}}
{{>message}}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-dark border-secondary text-white">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>
            Agregar Procesos
          </span>
          <a href="/report/view/{{id}}" class="btn btn-primary btn-sm"> ➜ Regresar al equipo</a>
        </div>
        <div class="card-body">
          <form action="/status/add/{{id}}" method="POST">
            <div class="form-group row">
              <label class="col-md-3 col-form-label col-form-label-sm text-md-right">Proceso </label>
              <div class="col-md-6">
                <input
                  type="text"
                  name="proceso"
                  class="form-control form-control-sm"
                  pattern="[^\s]*$"
                  title="Espacios vacios"
                  required
                  autofocus
                >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label col-form-label-sm text-md-right">Fecha </label>
              <div class="col-md-6">
                <input
                  type="date"
                  name="date"
                  class="form-control form-control-sm"
                  required
                >
              </div>
            </div>
            <div class="form-group row mb-0">
              <div class="col-md-8 offset-md-3">
                <button type="submit" class="btn btn-primary btn-sm">Agregar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>