.fondo {
  background: #c66add;
  height: 360px;
}

.main {
  display: flex;
}

.sidebar {
  flex: 0.2;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgb(66, 66, 66);
}

.sidebar__img__user {
  width: 40%;
}

.panel {
  flex: 0.8;
}
