{{>navigation}}
{{>message}}
<div class="container mt-5">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="card bg-dark text-white border-secondary">
        <h5 class="card-header">
          Equipos
        </h5>
        <div class="card-body">
          <div class="display-4">
            {{ e }}
          </div>
          Numero de equipos
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark text-white border-secondary">
        <h5 class="card-header">
          Usuarios
        </h5>
        <div class="card-body">
          <div class="display-4">
            {{ u }}
          </div>
          Numero de usuarios
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark text-white border-secondary">
        <h5 class="card-header">
          Personal
        </h5>
        <div class="card-body">
          <div class="display-4">
            {{ p }}
          </div>
          Numero de personal
        </div>
      </div>
    </div>
  </div>
</div>
