{{>navigation}}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-dark border-secondary text-white">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>
            Actualiza Categoria
          </span>
          <a href="/tipo" class="btn btn-primary btn-sm"> ➜ Regresar a lista categoria</a>
        </div>
        <div class="card-body">
          <form action="/tipo/edit/{{tipo.id}}" method="POST">
            <div class="form-group row">
              <label class="col-md-3 col-form-label col-form-label-sm text-md-right">Nombre </label>
              <div class="col-md-6">
                <input
                  type="text"
                  name="nombre"
                  class="form-control form-control-sm"
                  title="Espacios vacios"
                  required
                  value="{{tipo.nombre}}"
                  autofocus
                >
              </div>
            </div>
            <div class="form-group row mb-0">
              <div class="col-md-8 offset-md-3">
                <button type="submit" class="btn btn-primary btn-sm">Actualizar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>