{{>navigation}}
{{>message}}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-dark border-secondary text-white">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>
            Listado Categoria
          </span>
          <a href="/tipo/add" class="btn btn-primary btn-sm"> ✚ Nuevo Categoria</a>
        </div>
        <div class="card-body">
          <table class="table table-sm text-white">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Creado</th>
                  <th class="text-center" scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                {{#each tipo}}
                  <tr>
                    <th scope="row">{{ id }}</th>
                    <td>{{ nombre }}</td>
                    <td>{{ timeago timestamp }}</td>
                    <td class="text-center">
                      <a href="/tipo/edit/{{id}}" class="btn btn-warning btn-sm"> ✎ Editar </a>
                      <a href="/tipo/delete/{{id}}" class="btn btn-danger btn-sm"> ✗ Eliminar </a>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>