{{>navigation}}
{{>message}}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-dark border-secondary text-white">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>
            Actualiza Equipo
          </span>
          <a href="/report/view/{{reporte.id}}" class="btn btn-primary btn-sm"> ➜ Regresar a equipo</a>
        </div>
        <div class="card-body">
          <form action="/report/edit/{{reporte.id}}" method="POST" enctype="multipart/form-data">
            <div class="form-group row">
              <label class="col-md-3 col-form-label col-form-label-sm text-md-right">Nombre del Equipo </label>
              <div class="col-md-6">
                <input
                  type="text"
                  name="nombre"
                  class="form-control form-control-sm"
                  pattern="[^\s]*$"
                  title="Espacios vacios"
                  value="{{reporte.nombre}}"
                  required
                  autofocus
                >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label col-form-label-sm text-md-right">NS Identificador </label>
              <div class="col-md-6">
                <input
                  type="text"
                  name="ns"
                  class="form-control form-control-sm"
                  pattern="[^\s]*$"
                  title="Espacios vacios"
                  value="{{reporte.ns}}"
                  required
                  autofocus
                >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label col-form-label-sm text-md-right">Descripcion </label>
              <div class="col-md-6">
                <textarea class="form-control form-control-sm" name="descripcion" maxlength="250" rows="3" required>{{reporte.descripcion}}</textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label col-form-label-sm text-md-right">Cargar imagen </label>
              <div class="col-md-6">
                <input
                  type="file"
                  name="image"
                  accept="image/x-png,image/jpeg"
                  class="form-control-file form-control-sm"
                  required
                >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label col-form-label-sm text-md-right">Categoria Equipo </label>
              <div class="col-md-6">
                <select class="form-control form-control-sm" name="tipo_reporte">
                  <option selected>Selecionar estado...</option>
                  {{#each tipo}}
                    <option value="{{id}}">{{nombre}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="form-group row mb-0">
              <div class="col-md-8 offset-md-3">
                <button type="submit" class="btn btn-primary btn-sm">Actualizar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>