{{>navigation}}
{{>message}}
<div class="constiner mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-dark border-secondary text-white mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>
            Equipo <b># {{reporte.id}}</b>
          </span>
          <a href="/report" class="btn btn-primary btn-sm"> ➜ Regresar</a>
        </div>
        <div class="row no-gutters justify-content-center mt-3">
          <div class="col-md-4">
            <img src="{{reporte.url}}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>Nombre:</b> {{reporte.nombre}}</h5>
              <h6 class="card-title"><b>NS Identificador:</b> {{reporte.ns}}</h6>
              <p class="card-text"><b>Descripcion: </b>{{reporte.descripcion}}</p>
              <p class="card-text"><small class="text-muted"><b>Creado:</b> {{timeago reporte.timestamp}}</small></p>
              <a href="/report/edit/{{reporte.id}}" class="btn btn-warning btn-sm"> ✎ Editar </a>
              <a href="/report/edit/{{reporte.id}}" class="btn btn-danger btn-sm"> ✗ Eliminar </a>
              <a href="/status/add/{{reporte.id}}" class="btn btn-success btn-sm"> ✗ Agregar Estatus </a>
              {{!-- <a href="/report/edit/{{reporte.id}}" class="btn btn-danger btn-sm">
              <i class="medium material-icons">cloud_download</i> Descargar PDF </a> --}}
            </div>
          </div>
          <div class="row justify-content-center col-md-8">
            <table class="table table-sm text-white">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Proceso</th>
                  <th scope="col">Fecha</th>
                  <th class="text-center" scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                {{#each status}}
                <tr>
                  <th scope="row">
                    {{id}}
                  </th>
                  {{#if status}}
                    <td>
                      <span class="badge badge-dark">✓ Activo</span>
                    </td>
                  {{/if}}
                  <td>
                    {{proceso}}
                  </td>
                  <td>
                    {{timeago date}}
                  </td>
                  <td>
                    <a href="/status/delete/{{id}}" class="btn btn-danger btn-sm"> ✗ Eliminar </a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>