<div class="fondo">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 offset-sm-4 mt-3">
        <img src="/img/gestor.png" class="animate__animated animate__swing rounded mx-auto d-block" alt="Grifo">
        <h2 class="display-5 text-center mt-2">Sistema Gestor Metrologia</h2>
        <h5 class="animate__animated animate__pulse h6 text-center">
          Registrar Usuarios
        </h5>
        <div class="animate__animated animate__backInDown card bg-dark rounded border-primary mt-3">
          <div class="card-body">
            <form action="/config" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" name="username"  pattern="[^\s]*$" placeholder="Usuario" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="nombre" pattern="[^\s]*$" placeholder="Nombre" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="apellidos" placeholder="Apellidos" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
              </div>
              <button type="submit" class="btn btn-block btn-warning">
                Agregar Registro
              </button>
            </form>
          </div>
        </div>
      </div>
      {{>message}}
    </div>
  </div>
</div>