<div class="fondo">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 offset-sm-4 mt-5">
        <img src="/img/gestor.png" class="animate__animated animate__swing rounded mx-auto d-block" alt="Grifo">
        <h2 class="display-5 text-center mt-3">Gestor de Metrologia</h2>
        <h5 class="animate__animated animate__pulse h6 text-center">Login Sistema</h5>
        <div class="animate__animated animate__backInDown card bg-dark border-primary rounded mt-3">
          <div class="card-body">
            <form action="/signin" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" name="username" pattern="[^\s]*$" title="Espacios vacios" placeholder="Usuario" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Contrseña" required>
              </div>
              <button type="submit" class="btn btn-warning btn-block">
                Iniciar Session
              </button>
            </form>
          </div>
        </div>
      </div>
      {{>message}}
    </div>
  </div>
</div>