{{>navigation}}
{{>message}}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-secondary bg-dark text-white">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>
            Usuarios
          </span>
          <a href="/users/list" class="btn btn-primary btn-sm"> ➜ Regresar a lista tipo reporte</a>
        </div>
        <div class="card-body text-center">
          <p class="card-subtitle">
            Agregar usuarios en la ruta al pricipio del login en /config
          </p>
        </div>
      </div>
    </div>
  </div>
</div>